.contract-container
{
	padding:5px 5px 5px 5px;
}
.contract-container .contract-image
{
	float:left;
}
.contract-container .contract-name
{
	font-size:120%;
	font-weight:bold;
	float:left;
	margin:6px 0px 0px 10px;
}
.contract-container .contract-description
{
	margin:0px 0px 0px 10px;
}
.contract-container .contract-buy
{

}
