.contract-container
{
	padding:5px 5px 5px 5px;
}
.contract-container .contract-data td
{
	vertical-align:top;
	padding-top:3px;
}
.contract-container .contract-image
{
	
}
.contract-container .contract-name
{
	font-size:110%;
	font-weight:bold;
	margin-left:3px;
}
.contract-container .contract-description
{
	font-size:90%;
	margin-left:3px;
}
.contract-container .contract-buy
{

}
