@model Binary.OAuthProxy.Controllers.ResouceModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Home/ResourcePartial.cshtml")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script>
        $(function ()
        {            
            $("#duration_units").on('change', function ()
            {
                $(".non_input").attr("style", "display: none;");
                $("." + $("#duration_units").val()).attr("style", "display: block;");
                $(".forward_starting").attr("style", "display: none;");
            });

            $("#duration_units").on('change', function ()
            {
                $(".non_input").attr("style", "display: none;");
                $("." + $("#duration_units").val()).attr("style", "display: block;");
                $(".forward_starting").attr("style", "display: none;");
            });
            //for (i = 0; i < 12*24; i++)
            //{
            //    $('#atleast').append("<option value='" + Date().getTime() / 1000 + "'>" + (Date().getTime() /1000 + i*3600*5).get + "</option>");
            //}
        });
    </script>
</head>
<body>
    <div id="body_id"></div>
    <div id="content-holder">
        <div class="grd-container">
            <div class="grd-grid-12">
                <div id="pricing_table_form_div" class="has-tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
                    <div class="grd-row-padding">
                        <div aria-labelledby="ui-id-9" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                            <form name="rise_fall" id="rise_fall_form" method="GET" action="http://localhost:57842/RiseFall?">
                                <fieldset>
                                    <div class="grd-parent grd-grid-4 grd-grid-mobile-12">
                                        <span class="grd-grid-4 form_label">
                                            <label style="margin-left: 30px" for="atleast">Start time:</label>
                                        </span>
                                        <span class="grd-grid-4">
                                            <select id="atleast" name="date_start" class="unbind_later">
                                                <option value="now">Now</option>
                                                <option value="1409764200">17:10</option>
                                                <option value="1409764500">17:15</option>
                                                <option value="1409764800">17:20</option>
                                                <option value="1409765100">17:25</option>
                                                <option value="1409765400">17:30</option>
                                                <option value="1409765700">17:35</option>
                                                <option value="1409766000">17:40</option>
                                                <option value="1409766300">17:45</option>
                                                <option value="1409766600">17:50</option>
                                                <option value="1409766900">17:55</option>
                                                <option value="1409767200">18:00</option>
                                                <option value="1409767500">18:05</option>
                                                <option value="1409767800">18:10</option>
                                                <option value="1409768100">18:15</option>
                                                <option value="1409768400">18:20</option>
                                                <option value="1409768700">18:25</option>
                                                <option value="1409769000">18:30</option>
                                                <option value="1409769300">18:35</option>
                                                <option value="1409769600">18:40</option>
                                                <option value="1409769900">18:45</option>
                                                <option value="1409770200">18:50</option>
                                                <option value="1409770500">18:55</option>
                                                <option value="1409770800">19:00</option>
                                                <option value="1409771100">19:05</option>
                                                <option value="1409771400">19:10</option>
                                                <option value="1409771700">19:15</option>
                                                <option value="1409772000">19:20</option>
                                                <option value="1409772300">19:25</option>
                                                <option value="1409772600">19:30</option>
                                                <option value="1409772900">19:35</option>
                                                <option value="1409773200">19:40</option>
                                                <option value="1409773500">19:45</option>
                                                <option value="1409773800">19:50</option>
                                                <option value="1409774100">19:55</option>
                                                <option value="1409774400">20:00</option>
                                                <option value="1409774700">20:05</option>
                                                <option value="1409775000">20:10</option>
                                                <option value="1409775300">20:15</option>
                                                <option value="1409775600">20:20</option>
                                                <option value="1409775900">20:25</option>
                                                <option value="1409776200">20:30</option>
                                                <option value="1409776500">20:35</option>
                                                <option value="1409776800">20:40</option>
                                                <option value="1409777100">20:45</option>
                                                <option value="1409777400">20:50</option>
                                                <option value="1409777700">20:55</option>
                                                <option value="1409778000">21:00</option>
                                                <option value="1409778300">21:05</option>
                                                <option value="1409778600">21:10</option>
                                                <option value="1409778900">21:15</option>
                                                <option value="1409779200">21:20</option>
                                                <option value="1409779500">21:25</option>
                                                <option value="1409779800">21:30</option>
                                                <option value="1409780100">21:35</option>
                                                <option value="1409780400">21:40</option>
                                                <option value="1409780700">21:45</option>
                                                <option value="1409781000">21:50</option>
                                                <option value="1409781300">21:55</option>
                                                <option value="1409781600">22:00</option>
                                                <option value="1409781900">22:05</option>
                                                <option value="1409782200">22:10</option>
                                                <option value="1409782500">22:15</option>
                                                <option value="1409782800">22:20</option>
                                                <option value="1409783100">22:25</option>
                                                <option value="1409783400">22:30</option>
                                                <option value="1409783700">22:35</option>
                                                <option value="1409784000">22:40</option>
                                                <option value="1409784300">22:45</option>
                                                <option value="1409784600">22:50</option>
                                                <option value="1409784900">22:55</option>
                                                <option value="1409785200">23:00</option>
                                                <option value="1409785500">23:05</option>
                                                <option value="1409785800">23:10</option>
                                                <option value="1409786100">23:15</option>
                                                <option value="1409786400">23:20</option>
                                                <option value="1409786700">23:25</option>
                                                <option value="1409787000">23:30</option>
                                                <option value="1409787300">23:35</option>
                                                <option value="1409787600">23:40</option>
                                                <option value="1409787900">23:45</option>
                                                <option value="1409788200">23:50</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div id="duration_container" class="grd-parent grd-grid-5 grd-grid-mobile-12">
                                        <span class="grd-grid-4 form_label">
                                            <label for="duration_amount">Duration:</label>
                                        </span>
                                        <span id="expiry_type_duration" class="grd-grid-7 grd-parent">
                                            <span class="grd-grid-4">
                                                <input type="text" style="width: 92px;" name="duration_amount" id="duration_amount" size="4" maxlength="5" value="15" class="unbind_later">
                                            </span>
                                            <span class="grd-grid-4">
                                                <select id="duration_units" name="duration_units" class="unbind_later" style="margin-left: 30px;">
                                                    <option class="spot" value="d">days</option>
                                                    <option class="spot" value="h">hours</option>
                                                    <option class="spot" value="m">minutes</option>
                                                    <option class="spot" value="s">seconds</option>
                                                    <option class="spot" value="t">ticks</option>
                                                </select>
                                            </span>
                                            <span class="grd-grid-5 grd-no-gutter" style="margin-left: 10px;">
                                                <span class="forward_starting non_input h" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 1</span>
                                                <span class="forward_starting non_input m" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 2</span>
                                                <span class="non_input d" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 1</span>
                                                <span class="non_input h" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 1</span>
                                                <span class="non_input m" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 1</span>
                                                <span class="non_input s" style="display: none;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 15</span>
                                                <span class="non_input t" style="display: inline;">
                                                    <abbr rel="tooltip" title="minimum available duration">min</abbr>: 5</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="grd-parent grd-grid-3 grd-grid-mobile-12">
                                        <div class="grd-grid-4 right-aligned">
                                            <label for="payout">Payout Currency:</label>
                                        </div>
                                        <div class="grd-grid-4">
                                            <select id="bet_currency" name="currency">
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                                <option value="GBP">GBP</option>
                                                <option value="AUD">AUD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" name="table_action" value="price">
                                    <div id="submit" class="form_button grd-grid-12 grd-with-padding">
                                        <span class="button">
                                            <button id="rise_fall_calculate" class="button unbind_later" value="calculate" type="submit" style="display: inline-block;">Calculate</button>
                                            <button style="display: none;" id="rise_fall_calculating" class="button" value="calculating" type="submit">Calculating</button>
                                        </span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="rise_fall_prices_div" class="table_div">
                    @Html.Raw(Model.IndexHTML)
                </div>
            </div>
        </div>
    </div>
</body>
</html>
